<div>
 <fieldset class="ui-grid-a">
  <div class="ui-block-a"> <button data-inline="true" type="submit" data-theme="b" id="my-link">Enable Push Notification</button></div>
  <div class="ui-block-a"> <button data-inline="true" type="submit" data-theme="b">Enable Location</button></div>
 </fieldset>
</div>
